<form  [formGroup]="frmContact" autocomplete="off" novalidate="novalidate" (ngSubmit)="onSubmitForm()" >
  <legend>Add Contact</legend>
  <div class="form-group">
    <label for="s">Customer</label>
    <select name="" id="s"  formControlName="customer" [(ngModel)]="contact.customer"  >
      <option  *ngFor="let item of customers" value="{{item.name}}">{{item.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="t">Employee</label>
    <select name="" id="t"  formControlName="employee" [(ngModel)]="contact.employee"  >
      <option  *ngFor="let item of employees" value="{{item.name}}">{{item.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="r">Service</label>
    <select name="" id="r"  formControlName="service" [(ngModel)]="contact.service"  >
      <option  *ngFor="let item of services" value="{{item.name}}">{{item.name}}</option>
    </select>
  </div>

  <div class="form-group">
    <!--      <input type="date" class="form-control" [(ngModel)]="contact.birthDay"  formControlName="birthday"    >-->
    <mat-form-field>
      <mat-label>Date Create</mat-label>
      <input matInput [matDatepicker]="myPicker"  placeholder="date" name="abc" [(ngModel)]="contact.dateCreate"  formControlName="datecreate">
      <mat-datepicker-toggle  matSuffix [for]="myPicker"></mat-datepicker-toggle>
      <mat-datepicker #myPicker></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="form-group">

  <!--      <input type="date" class="form-control" [(ngModel)]="contact.birthDay"  formControlName="birthday"    >-->
  <mat-form-field>
    <mat-label>Date Last</mat-label>
    <input matInput [matDatepicker]="myPicker1"  placeholder="date" name="abc" [(ngModel)]="contact.dateLast"  formControlName="datelast">
    <mat-datepicker-toggle  matSuffix [for]="myPicker1"></mat-datepicker-toggle>
    <mat-datepicker #myPicker1></mat-datepicker>
  </mat-form-field>
</div>

  <div class="form-group">
    <label>Money</label>
    <input type="number" class="form-control"  formControlName="money"   [(ngModel)]="contact.money" >
  </div>

  <div class="form-group">
    <label>Total Cost</label>
    <input type="number" class="form-control"  formControlName="totalcost"   [(ngModel)]="contact.totalCost" >
  </div>


  <button type="submit" class="btn btn-primary" [disabled]="frmContact.invalid" (click)="onAddContact()">Save</button>

</form>

