*{
    margin: 0;
    padding: 0;
}
header #navbar-a{
   font-weight: 600;
    font-size: 18px;
    display: block;
    padding: 0;
    padding-left: 10px;
    margin-top: 5px;
    border-left: 2px solid black;
    margin-left: 28px;

}
header #navbarDropdownMenuLink{
    margin-left: 10px;
    padding: 6px;
}
#navbarDropdownMenuLink:hover{
    border-bottom: 2px solid black;
}
#navbarDropdownMenuLink1{
    margin-left: 10px;
    padding: 6px;
}
#navbarDropdownMenuLink1:hover{
    border-bottom: 2px solid black;
}
header .nav-link{
    padding: 6px;
}
header .icon-hd{
    font-size: 25px;
}
header .fas ,.far{
    font-size: 25px;
    padding-right: 5px;
}
header .nav-icon{
    margin-right: 75px;
}
header #navbarDropdownMenuLink4{
    margin-left: 180px;
}
.carousel-caption {
    padding-right: 600px;
    bottom: 200px;
}
.wrap-icon ul{
    list-style-type: none;
}
.wrap-icon li{
    float: left;

}
.wrap-icon{
    padding: 20px 100px;

}
.wrap-icon a{
    display: block;
}
.wrap-icon img{
    margin-left: 44px;
}
.content-jumbo{
    text-align: center;
   font-family:"Segoe UI";

}
.content-jumbo p{
    margin-top: 39px;
}
.content-jumbo h2{
    margin-top: 24px;
    font-weight: 300;
}
.img-left img{
    width: 100%;
    padding: 0px;
}
hr{
    border-top: 2px solid rgb(62,44,100);
    width: 95%;
    margin-bottom: 2rem;
}
.near-footer .wrap-icon{
    padding: 15px 95px;
}
footer ul{
    list-style-type: none;
}
footer .col-md-2{
    padding-left: 55px;
}
footer .top{
    font-weight: bold;
    font-size: 17px;
}
footer{
    background-color: #F2F2F2;
}
section .bot-section{
height: 80px;
    background-color: #2F2F2F;
}
.bot-section p{
    color: white;
    font-size: 13px;
    padding-left: 35px;
}






