<div id="modal-content-wrapper" class="d-fex justify-content-center">
  <header id="modal-header">
    <h1 id="modal-title">DELETE CONFIRM</h1>
  </header>
  <section id="modal-body">
    <p>Bạn có chắc chắc muốn xóa <span class="text-primary font-weight-bold">{{contactDetailOfFullName}}</span> không? <br> Lưu ý: Thao tác không thể hoàn tác!!!</p>
  </section>
  <footer id="modal-footer">
    <button mat-raised-button class="btn btn-danger mr-3" id="modal-action-button" (click)="deleteContactDetail()">Yes</button>
    <button mat-raised-button class="btn btn-warning mr-3" id="modal-cancel-button" mat-dialog-close>No</button>
  </footer>
</div>
